#slider.slider
  .slide#slide-left
    .slide-holder
      .slide-bg.bg-previous
      .slide-bg.bg-current
      .slide-bg.bg-next
  .slide#slide-center
    .slide-holder
      .slide-bg.bg-previous
      .slide-bg.bg-current
      .slide-bg.bg-next
  .slide#slide-right
    .slide-holder
      .slide-bg.bg-previous
      .slide-bg.bg-current
      .slide-bg.bg-next
a(href="#").arrow#left-arrow
  i.fa.fa-arrow-circle-o-left
a(href="#").arrow#right-arrow
  i.fa.fa-arrow-circle-o-right